<article class="col-4">
    <div>
        <img class="border-round-lg shadow-5" [src]="picture.urls.small">
        <!-- <img class="border-round-md shadow-5 relative" src="../../../../../assets/photo-1670272502246-768d249768ca.jpeg"> -->
        <h4 class="">
            <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. -->
            <!-- {{picture.alt_description}} -->
        </h4>
    </div>
</article>
<!-- [ngStyle]="{'background-image': 'url(../../../../../assets/photo-1670272502246-768d249768ca.jpeg)'}" -->